In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('Churn.csv')

In [5]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [9]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
4319,0,56,75.75,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
406,0,72,19.80,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2618,0,1,19.60,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1897,0,38,69.95,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
312,0,22,89.05,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
y_train.head()

4319    0
406     0
2618    1
1897    0
312     0
Name: Churn, dtype: int64

In [ ]:
%pip install tensorflow

In [12]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [ ]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [15]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=200, batch_size=32)

In [24]:
y_hat = model.predict(X_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

In [18]:
accuracy_score(y_test, y_hat)

0.8105039034776437

In [ ]:
model.save('tfmodel_NeuralNetwork.keras')

In [21]:
del model

In [ ]:
model = load_model('tfmodel_NeuralNetwork.keras')